<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body id="body">
    <h1 class="title">
        Bienvenidos a Jurassic park
    </h1>

    <nav>
        <ul>
            <li><a href="../views/contacto.html"> Contacto </a></li>
            <li></li>
        </ul>
    </nav>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eius veniam, distinctio error totam corrupti, nesciunt rerum ratione molestiae magnam omnis maxime quam atque asperiores eum voluptates quasi commodi dicta.</p>
    
    <img src="../img/los borotoness.jpeg" alt="">
    
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit hic rem, aspernatur ipsum expedita, non placeat voluptate dolores fuga possimus in libero dicta eos vel. Tempora, suscipit et. Magni, nemo?</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis totam est et, officiis a id nihil quisquam veritatis odit, quibusdam ipsam. Placeat blanditiis iste libero est recusandae numquam saepe!/p>
    
    <h3 class="fucker"> Madafaker wat are you doin bitch </h3>

    <h2 class="ache2"> Soy un H2 </h2>



    <footer>De una</footer>


    <script src="../dom.js"></script>
</body>
</html>